.seven-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 1fr);
  gap: 16px;
  overflow-x: auto;
  height: 100%;
}

.inner-box {
  background: #b8e88b;
  padding: 8px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 112px);
  overflow: hidden;

  h4 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .meals {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    scrollbar-width: thin;
    scrollbar-color: rgba(106, 168, 79, 0.5) transparent;
    scrollbar-gutter: stable both-edges;
  }
}
