<div class="seven-grid">
    @for (day of ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье']; track $index) {
        <div class="inner-box">
            <h4 nz-typography>{{ day }}</h4>
            <div class="meals">
                <app-meal [type]="'breakfast'" />
                <app-meal [type]="'lunch'" />
                <app-meal [type]="'dinner'" />
                <!--            <app-meal [type]="'dinner'"/>-->
            </div>
        </div>
    }
</div>
