:host {
  display: flex;
}

.app-layout {
  height: 100%;
  width: 100%;
}

.top-nav {
  line-height: 64px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 15px;
}

.logo {
  float: left;
  height: 64px;
  padding-right: 24px;
  line-height: 64px;
  background: #001529;
}

.logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family:
    Avenir,
    Helvetica Neue,
    Arial,
    Helvetica,
    sans-serif;
  vertical-align: middle;
}

nz-content {
  padding: 24px 50px;
}

.inner-content {
  h3 {
    text-align: center;
  }
  padding: 24px 50px;
  background: #fff;
  height: max-content;
}

.ant-card-head {
  padding: 0 16px;
}

@media (max-width: 768px) {
  .logo {
    a {
      h1 {
        display: none;
      }
    }
  }

  nz-content {
    padding: 8px 16px;
  }

  .inner-content {
    h3 {
      font-size: 16px;
    }
    padding: 8px 16px;
  }
}
