.seven-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

.inner-box {
  background: red;
  text-align: center;
  padding: 8px;
  height: calc(100vh - 112px);
  border-radius: 15px;
}
